{% extends 'base.html' %}
{% block content %}
    <br><br><br><br>
    <div class="container">
        <div class="col-xl-8 content-box">
            <div class="row row-featured row-featured-category">

                <div class="col-md-3 col-sm-6 mb-4">
                    <form action="search" method="get">
                        <img class="card-img-top" src="http://placehold.it/150x150" alt="Card image cap">
                        <div class="card-body">
                            <input type="hidden" name="name" value="sound">
                            <input type="submit" value="#sound">
                        </div>
                    </form>
                </div>


                <div class="col-md-3 col-sm-6 mb-4">
                    <form action="search" method="get">
                        <img class="card-img-top" src="http://placehold.it/150x150" alt="Card image cap">
                        <div class="card-body">
                            <input type="hidden" name="name" value="outdoors">
                            <input type="submit" value="#outdoors">
                        </div>
                    </form>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <form action="search" method="get">
                        <img class="card-img-top" src="http://placehold.it/150x150" alt="Card image cap">
                        <div class="card-body">
                            <input type="hidden" name="name" value="noise">
                            <input type="submit" value="#noise">
                        </div>
                    </form>
                </div>
                <!-- end of first row -->

                <div class="col-md-3 col-sm-6 mb-4">
                    <form action="search" method="get">
                        <img class="card-img-top" src="http://placehold.it/150x150" alt="Card image cap">
                        <div class="card-body">
                            <input type="hidden" name="name" value="light">
                            <input type="submit" value="#light">
                        </div>
                    </form>
                </div>


                <div class="col-md-3 col-sm-6 mb-4">
                    <form action="search" method="get">
                        <img class="card-img-top" src="http://placehold.it/150x150" alt="Card image cap">
                        <div class="card-body">
                            <input type="hidden" name="name" value="light">
                            <input type="submit" value="#light">
                        </div>
                    </form>
                </div>

                <div class="col-md-3 col-sm-6 mb-4">
                    <form action="search" method="get">
                        <img class="card-img-top" src="http://placehold.it/150x150" alt="Card image cap">
                        <div class="card-body">
                            <input type="hidden" name="name" value="visual">
                            <input type="submit" value="#visual">
                        </div>
                    </form>
                </div>

                <!-- end of second row -->
            </div>
        </div>

    </div>

    <!-- cannot display for whatever reason, pls fix :( -->
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="signup">Sign up</a>
        {% endif %}
    </div>


{% endblock %}
