{% extends 'base.html' %}
{% block content %}
<br><br><br><br>
    <div class="container">

    <div class="col-xl-12 content-box ">
        <div class="row row-featured row-featured-category">

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <form method="get" action="search">
                <input type="hidden" name="name" value="noise">
                <input type="submit" value="noise">
                </form>
            </div>


            <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="http://placehold.it/150x150" alt="Card image cap">
                <div class="card-body">
                    <input type="hidden" name="name" value="noise">
                    <input type="submit" value="noise">
                </div>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <form method="get" action="search">
                    <input type="hidden" name="name" value="noise">
                    <input type="submit" value="noise">
                    <h6> Category </h6></a>
                </form>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <form method="get" action="search">
                    <input type="hidden" name="name" value="noise">
                    <input type="submit" value="noise">
                    <h6> Category </h6></a>
                </form>
            </div>


            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <form method="get" action="search">
                    <input type="hidden" name="name" value="noise">
                    <input type="submit" value="noise">
                    <h6> Category </h6></a>
                </form>
            </div>



        </div>
    </div>
</div>


{% endblock %}
