{% extends 'base.html' %}
{% block content %}
<div class="container con">

    <div class="col-xl-12 content-box ">
        <div class="row row-featured row-featured-category">

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="category.html"><img src="images/category/car-2.jpg" class="img-responsive" alt="img">
                    <h6> Category </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="search.html/"><img src="images/category/laptop-2.jpg" class="img-responsive"
                                             alt="img"> <h6> Category </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="{% url 'search' %}"><img src="images/category/mobile.jpg" class="img-responsive" alt="img">
                    <h6> Category </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="category.html"><img src="images/category/tv.jpg" class="img-responsive" alt="img"> <h6>
                    Category </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="category.html"><img src="images/category/hdd.jpg" class="img-responsive" alt="img">
                    <h6> Category </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="property-list.html"><img src="images/category/house.jpg" class="img-responsive"
                                                  alt="img">
                    <h6> Category </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="category.html"><img src="images/category/Home-Electronics-Appliances-2.jpg"
                                             class="img-responsive" alt="img"> <h6> Category </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="category.html"><img src="images/category/camera.jpg" class="img-responsive" alt="img">
                    <h6> Category </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="category.html"><img src="images/category/fashion.jpg" class="img-responsive" alt="img">
                    <h6> Category </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="category.html"><img src="images/category/toy.jpg" class="img-responsive" alt="img">
                    <h6> Category  </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="category.html"><img src="images/category/jobs.jpg" class="img-responsive" alt="img">
                    <h6> Category </h6></a>
            </div>

            <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">
                <a href="{% url 'search' 4 %}"><img src="images/category/catalog.jpg" class="img-responsive" alt="img">
                    <h6> Category </h6></a>
            </div>

        </div>
    </div>
</div>

<!-- Search form -->
<div class="md-form mt-0">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>
{% endblock %}
