<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Search | Artlink</title>

    <!-- Custom styles for this template -->
    <link href="stylesheets/shop-item.css" rel="stylesheet">
    <link href="stylesheets/search_css.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/stylesheet.css">
    <link rel="stylesheet" href="./stylesheets/shop-item.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>


<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="searchBoxArea">
    <!-- Search form -->
    <form class="form-inline">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search" name="searchTextField">
        <a class="btn btn-primary" href="#" role="button"><i class="fa fa-search" aria-hidden="true"></i></a>
    </form>
</div>

<div class="filters" style="width: 20%">
    <div class="filter distance">
        <label for="relativeDistance"><b>Distance:</b></label>
        <br>
        <select class="form-control">
            <option value="Exact Location">Exact Location</option>
            <option value="3miles">+ 3 miles</option>
            <option value="5miles">+ 5 miles</option>
            <option value="10miles">+ 10 miles</option>
            <option value="25miles">+ 25 miles</option>
            <option value="50miles">+ 50 miles</option>
            <option value="nationwide">Nationwide</option>
        </select>
    </div>
    <div class="priceRange">
        <span><b>Price:</b></span><br>
        <div class="checkbox">
            <input type="checkbox" name="priceRange_free" value="free">Free<br>
            <input type="checkbox" name="priceRange_upto10" value="one_to_ten">£1 - £10<br>
            <input type="checkbox" name="priceRange_upto25" value="ten_twentyfive">£10 - £25<br>
            <input type="checkbox" name="priceRange_over25" value="over_twentyfive">over £25<br>
        </div>
    </div>
</div>

    <div class="resultsAndGroup">
        <div class="sortBy">
            <!-- dropdown menu for sort by-->
            <label for="sortBy"><b>Sort by:</b></label>
            <select class="form-control" id="sortBy">
                <option value="pricelowToHigh">Price (Low to High)</option>
                <option value="priceHighToLow">Price (High to Low)</option>
                <option value="newest">Newest</option>
            </select>
        </div>
        <div class="results">
            <p>Blah results found for: {{search}}</p>
            <p>this is where results from search would go</p>
            {% if locations %}
                {% for location in locations %}
                    <p>{{location.name}}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>


<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2018</p>
    </div>
    <!-- /.container -->
</footer>

</body>

</html>
